@model IEnumerable<MVC5簡易留言版.Models.Article>
@{
    ViewBag.Title = "留言版";
}

<h2>Index</h2>

<div>
    @if(Model != null)
    {
        <table  id="tbList">
            <tbody>
                <tr>
                    <th>標題</th>
                    <th>留言內容</th>
                    <th>建立時間</th>
                </tr>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Content</td>
                        <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<br />
<div>
    @Html.ActionLink("我們來新增留言吧!","Create")
</div>